<header [ngClass]="theme">
  <span
    class="bnt-toggle-sidebar"
    *ngIf="addSidebar"
    (click)="toggleModalSidebar()"
    ><i class="bi bi-list"></i
  ></span>
  <h1 class="logo">Flashcards</h1>
  <div class="theme">
    <i class="bi bi-brightness-high-fill" (click)="toggleLight()"></i>
    <div class="theme__btn-conteiner" (click)="toggleTheme()">
      <div class="btn" [ngClass]="theme"></div>
    </div>
    <i class="bi bi-moon-fill" (click)="toggleDark()"></i>
  </div>
</header>

<!--Sidebar -->

<div [class]="'sidebar ' + theme" [ngClass]="showSidebar ? 'show-nav' : ''">
  <div class="top">
    <h1 class="title">JavaScript Flashcards</h1>
    <p class="user-name">ndeurys@gmail.com</p>
  </div>
  <ul class="menu">
    <li
      class="menu__item"
      *ngFor="let item of itemMenuList; let i = index"
      [ngClass]="item.isActive ? 'active' : ''"
      (click)="selecteLink(item.text)"
    >
      <a (click)="gotoPage(item.url)">
        <i [class]="item.icon"></i>{{ item.text }}</a
      >
    </li>
  </ul>
</div>
